<ngx-spinner type="ball-clip-rotate-multiple">
  <p style="color: white">Đang tải thông tin đăng nhập...</p>
</ngx-spinner>

<div class="container background-image1">
  <div class="row">
    <div class="col-lg-6 col-md-6 d-none d-lg-block p-0 m-0 posititon-relative" style="height: 100vh;">
      <div class="bg-img2-container">
        <img class="bg-img2" src="../../../assets/images/bg-element2.png" alt="bg-element2" />
      </div>
      <div class="bg-img1-container">
        <img class="bg-img1" src="../../../assets/images/bg-element1.png" alt="bg-element1" />
      </div>
    </div>
    <div class="col-lg-6 col-md-7 d-flex flex-column" style="height: 100vh;">
      <div class="cust">
        <div class="mt-4">
          <img src="../../../assets/images/AQ_logo.png" alt="AQ-logo" class="img-fluid aq-logo" />
        </div>
        <div class="title-login mt-2">
          Đăng nhập hệ thống
        </div>
        <div class="card pb-3 pt-3 px-2 m-0 frinput" style="background-color: transparent;">
          <div class="card-body px-2 py-0">
            <form [formGroup]="loginForm" autocomplete="off" class="mt-2">
              <div>
                <label class="label-input m-0">Tên đăng nhập</label>
                <input #myFocusField type="text" autocomplete="off" formControlName="username" class="form-control mt-1"
                  autofocus (keyup.enter)="onLogin()" [ngClass]="{'is-invalid': submitted && f.username.errors}"
                  required />

                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                  <div *ngIf="f.username.errors.required" class="font-weight-bold">Vui lòng nhập tên đăng nhập</div>
                </div>
              </div>

              <div class="py-3">
                <div class="d-flex justify-content-between align-items-center">
                  <label class="label-input m-0">Mật khẩu</label>
                  <span class="d-flex justify-content-center align-items-center">
                    <i style="color: #25A7FB;" [class]="SHOW_EYE ? 'fa fa-eye' : 'fa fa-eye-slash'"
                      (mousedown)="SHOW_EYE = SHOW_BUTTON = true" (mouseup)="SHOW_EYE = SHOW_BUTTON = false"
                      (mouseout)="SHOW_EYE = SHOW_BUTTON = false"></i>
                    <span style="color: #25A7FB;" class="hide ml-1">Hide</span>
                  </span>
                </div>
                <input type="password" autocomplete="new-password" formControlName="password" class="form-control mt-1"
                  (keyup.enter)="onLogin()" [type]="SHOW_BUTTON ? 'text' : 'password'"
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required />

                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required" class="font-weight-bold">Vui lòng nhập mật khẩu</div>
                </div>
              </div>

              <div class="alert alert-danger py-1 mb-2" role="alert" *ngIf="messError">{{messError}}</div>

              <div style="text-align: center;">
                <button type="submit" class="btn btn-login" (click)=" onLogin()">
                  ĐĂNG NHẬP
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>