:host ::ng-deep .p-datepicker {
    transform: scale(0.8);
    /* Adjust the scale to your desired value */
}

*:focus {
    box-shadow: none !important;
}

.cssBox1 {
    border: 1px solid red;
}

.cssBox2 {
    border: 1px solid green;
}

.cssBox3 {
    border: 1px solid blue;
}



// ::ng-deep {
//     .p-selectbutton .p-button.p-highlight {
//         background      : red;
//         background-color: red;
//     }

//     .p-selectbutton .p-button.p-highlight:hover {
//         background: green;
//     }
// }