<div class="block">

  <div class="card p-4">
    <p-toolbar styleClass="mb-4 p-3">
      <p-card header="header" style="font-weight: bold; font-size: x-large; color: navy;">
        Quản lý ngày nghỉ chung
      </p-card>
      <ng-template pTemplate="left">
        <button pButton pRipple
          label="Tạo ngày nghỉ chung"
          icon="pi pi-calendar-plus mb-1"
          class="p-button-success py-2"
          (click)="openAddDialog()">
        </button>
      </ng-template>
    </p-toolbar>

    <p-toolbar styleClass="mb-4 p-3">
      <div class="flex flex-row flex-wrap gap-3">
        <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
          (click)="clear(dt1)">
        </button>
        <span class="p-float-label mt-2">
          <input id="float-input" type="text" pInputText [(ngModel)]="filter_datefrom">
          <label for="float-input">Ngày bắt đầu</label>
        </span>
        <span class="p-float-label mt-2">
          <input id="float-input" type="text" pInputText [(ngModel)]="filter_dateto">
          <label for="float-input">Ngày kết thúc</label>
        </span>
        <span class="mt-2">
          <!-- <button
            pButton pRipple type="button"
            label="Lọc"
            class="p-button-rounded p-button-info  px-4">
          </button> -->
          <!-- <button pButton pRipple type="button" label="Lọc" class="p-button-outlined p-button-info px-4"></button> -->
          <button
            pButton pRipple type="button"
            icon="pi pi-search"
            class="p-button-rounded p-button-info"
            (click)="fetchDataFiltered()">
          </button>
        </span>
      </div>
    </p-toolbar>

    <p-table
      #dt1
      [value]="DayOffs"
      [rows]="10"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10,25,50]"
      [paginator]="true"
      [globalFilterFields]="['dateFrom', 'dateTo', 'sumDay', 'reason', 'note']"
      styleClass="p-datatable-gridlines p-datatable-sm"
      reorderableColumns="true"
      responsiveLayout="scroll">
      <!-- dataKey="id" -->
      <!-- currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" -->
      <!-- styleClass="p-datatable-customers p-datatable-gridlines" -->

      <ng-template pTemplate="header">
        <tr>
          <th style="white-space: nowrap; min-width:120px;"></th>
          <th style="white-space: nowrap; min-width:10rem" pSortableColumn="dateFrom">
            Ngày bắt đầu
            <p-sortIcon field="dateFrom"></p-sortIcon>
            <!-- <p-columnFilter type="date" field="dateFrom" display="menu">
            </p-columnFilter> -->
            <!-- <p-columnFilter type="date" field="dateFrom" display="menu" [showMatchModes]="true" [showOperator]="false"
              [showAddButton]="false">
            </p-columnFilter> -->
          </th>
          <th style="white-space: nowrap; min-width:10rem " pSortableColumn="dateTo">
            Ngày kết thúc
            <!-- <p-columnFilter type="date" field="dateTo" display="menu">
            </p-columnFilter> -->
            <p-sortIcon field="dateTo"></p-sortIcon>
          </th>
          <th style="white-space: nowrap; min-width:10rem" pSortableColumn="sumDay">
            Tổng số ngày nghỉ
            <p-sortIcon field="sumDay"></p-sortIcon>
            <p-columnFilter type="numeric" field="sumDay" display="menu" class="mt-4"></p-columnFilter>
          <th style="white-space: nowrap; min-width:25rem" class="text-center">
            Lý do nghỉ
            <p-columnFilter type="text" field="reason" display="menu"></p-columnFilter>
          </th>
          <th style="white-space: nowrap;" class="text-center">
            Ghi chú thêm
            <p-columnFilter type="text" field="note" display="menu"></p-columnFilter>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-DayOff>
        <tr>
          <td style="white-space: nowrap; text-align: center; width: 100px;">
            <button pButton pRipple icon="pi pi-pencil"
              class="p-button-rounded p-button-warning p-button-text p-0"
              (click)="openEditDialog(DayOff)"></button>
            <button pButton pRipple icon="pi pi-trash"
              class="p-button-rounded p-button-danger p-button-text p-0"
              (click)="deleteDayOff($event, DayOff)"></button>
          </td>
          <td style="white-space: nowrap; text-align: left; width: 12%;">
            {{DayOff.dateFrom | date: 'dd/MM/yyyy'}}
          </td>
          <td style="white-space: nowrap; text-align: left; width: 12%;">
            {{DayOff.dateTo | date: 'dd/MM/yyyy'}}
          </td>
          <td style="white-space: nowrap; text-align: center; width: 15%;">
            {{DayOff.sumDay}}
          </td>
          <td style="white-space: nowrap; text-align: left; width: 20%;">
            {{DayOff.reason}}
          </td>
          <td style="white-space: nowrap; text-align: left;">
            {{DayOff.note}}
          </td>

        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">Không có thông tin ngày nghỉ. Cày tiếp thôi.</td>
        </tr>
      </ng-template>
    </p-table>

  </div>
</div>


<p-dialog
  header="Thông tin ngày nghỉ chung"
  [(visible)]="openDialog"
  [style]="{width: '100%', maxWidth: '800px'}"
  [contentStyle]="{minHeight: '350px'}"
  [modal]="true"
  styleClass="p-fluid">

  <ng-template pTemplate="content">
    <div class="formgrid grid">

      <div class="field col-12 md:col-4">
        <label for="icon">Ngày bắt đầu</label>
        <p-calendar
          [(ngModel)]="DayOff.dateFrom"
          [showIcon]="true"
          inputId="icon"
          dateFormat="dd/mm/yy"
          (ngModelChange)="sumDay()"></p-calendar>
      </div>

      <div class="field col-12 md:col-4">
        <label for="icon">Ngày kết thúc</label>
        <p-calendar
          [(ngModel)]="DayOff.dateTo"
          [showIcon]="true"
          inputId="icon"
          dateFormat="dd/mm/yy"
          (ngModelChange)="sumDay()"></p-calendar>
      </div>


      <div class="field col-5 md:col-4">
        <label for="sumDay">Tổng cộng ngày nghỉ</label>
        <input type="number" pInputText id="sumDay" required
          [(ngModel)]="DayOff.sumDay" />
      </div>

      <div class="field col-12">
        <label for="reason">Lí do</label>
        <input type="text" pInputText id="reason" required
          [(ngModel)]="DayOff.reason" />
      </div>

      <div class="field col-12">
        <label>Ghi chú</label>
        <textarea [rows]="5" [cols]="30" pInputTextarea [autoResize]="true"
          [(ngModel)]="DayOff.note"></textarea>
      </div>

    </div>
  </ng-template>


  <!-- edit/addnew DayOff -->
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Hủy" icon="pi pi-times" class="p-button-text"
      (click)="hideDialog()"></button>
    <button pButton pRipple label="Lưu" icon="pi pi-check" class="p-button-text"
      (click)="editDayOffDialog ? updateDayOff() : addNewDayOff()"></button>
  </ng-template>
</p-dialog>

<!-- delete member popup -->
<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>