<div class="block">

    <div class="card p-4">
        <!-- header -->
        <p-card header="header"
            class="mb-2"
            style="font-weight: bold; font-size: x-large; color: navy;">
            Thống kê tính tiền ăn trưa theo tháng
        </p-card>
        <!-- data table -->
        <p-table #dt1
            [loading]="isLoading"
            [value]="AQLunchPaymentReport"
            [rows]="5"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[5,10,25]"
            [paginator]="true"
            selectionMode="multiple"
            [(selection)]="selectedRecords"
            [exportHeader]="'customExportHeader'"
            [tableStyle]="{'min-width': '50rem'}"
            styleClass="p-datatable-gridlines p-datatable-sm"
            reorderableColumns="true"
            responsiveLayout="scroll">
            <ng-template
                pTemplate="caption">
                <div class="flex justify-content-between">
                    <div class="flex flex-row flex-wrap gap-3 mt-3 mb-2">
                        <div class="">
                            <button
                                pButton
                                label="Refresh"
                                class="p-button-outlined"
                                icon="pi pi-filter-slash"
                                (click)="clear(dt1)">
                            </button>
                        </div>
                        <div class="flex flex-row gap-3">
                            <span class="p-float-label">
                                <p-calendar
                                    [(ngModel)]="selectedMonthYear"
                                    view="month" dateFormat="mm/yy"
                                    [readonlyInput]="true"
                                    inputId="monthpicker"
                                    [style]="{'width':'12rem'}" [inputStyle]="{'width':'12rem'}">
                                </p-calendar>
                                <label for="float-input">Chọn tháng</label>
                            </span>
                            <span class="">
                                <button
                                    pButton pRipple
                                    type="button"
                                    icon="pi pi-search"
                                    class="p-button-rounded p-button-info"
                                    (click)="fetchFilteredLunchPaymentReport()">
                                </button>
                            </span>
                        </div>
                        <div class="flex flex-row gap-3 mt-3 md:mt-0 flex-wrap">
                            <span class="p-float-label mt-3 lg:mt-0">
                                <p-inputNumber inputId="lunchPaymentType1"
                                    [(ngModel)]="lunchPaymentType1"></p-inputNumber>
                                <label for="inputnumber">Nhân viên chính thức</label>
                            </span>
                            <span class="p-float-label mt-3 lg:mt-0">
                                <p-inputNumber inputId="lunchPaymentType2"
                                    [(ngModel)]="lunchPaymentType2"></p-inputNumber>
                                <label for="inputnumber">Nhân viên thử việc</label>
                            </span>
                            <span class="p-float-label mt-3 lg:mt-0">
                                <p-inputNumber inputId="lunchPaymentType3"
                                    [(ngModel)]="lunchPaymentType3"></p-inputNumber>
                                <label for="inputnumber">Thực tập sinh</label>
                            </span>
                            <span>
                                <button
                                    pButton type="button"
                                    label="Tổng kết tiền ăn trưa"
                                    class="p-button-outlined"
                                    (click)="calculateEachMemberActualWorkingDayAndPayment()">
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="mt-3 mb-2">
                        <button type="button" pButton pRipple icon="pi pi-file-excel"
                            (click)="exportExcel('full')"
                            class="p-button-success mr-2"
                            pTooltip="XLS" tooltipPosition="bottom">
                        </button>
                        <button type="button" pButton pRipple icon="pi pi-filter"
                            (click)="exportExcel('selection')"
                            class="p-button-info ml-auto"
                            pTooltip="Selection Only" tooltipPosition="bottom">
                        </button>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <!-- <th style="white-space: nowrap; min-width:10rem"
                        class="text-center"
                        rowspan="2">
                        Nick name
                    </th> -->
                    <th style="white-space: nowrap; min-width:10rem"
                        class="text-center"
                        rowspan="2">
                        Tên đầy đủ
                    </th>
                    <th style="white-space: nowrap; min-width:5rem"
                        class="text-center"
                        rowspan="2">
                        Cấp nhân viên
                    </th>
                    <th style="white-space: wrap;"
                        class="text-center"
                        colspan="3">
                        Số ngày nghỉ
                    </th>
                    <th style="white-space: wrap;"
                        class="text-center"
                        colspan="3">
                        Số ngày làm online
                    </th>
                    <th style="white-space: wrap;"
                        class="text-center"
                        colspan="2">
                        Số ngày công tác
                    </th>
                    <th style="white-space: wrap; width:7rem"
                        class="text-center"
                        rowspan="2">
                        Số ngày nghỉ chung
                    </th>
                    <th style="white-space: wrap; width:7rem"
                        class="text-center"
                        rowspan="2">
                        Tổng số ngày đi làm
                    </th>
                    <th style="white-space: wrap; "
                        class="text-center"
                        rowspan="2">
                        Tiền ăn trưa
                    </th>
                </tr>
                <tr>
                    <th style="white-space: wrap; min-width:8rem"
                        class="text-center">
                        Tổng cộng
                    </th>
                    <th style="white-space: wrap; min-width:8rem"
                        class="text-center">
                        Trọn ngày
                    </th>
                    <th style="white-space: wrap; min-width:8rem"
                        class="text-center">
                        Nửa ngày
                    </th>
                    <th style="white-space: wrap; min-width:8rem"
                        class="text-center">
                        Tổng cộng
                    </th>
                    <th style="white-space: wrap; min-width:8rem"
                        class="text-center">
                        Trọn ngày
                    </th>
                    <th style="white-space: wrap; min-width:8rem"
                        class="text-center">
                        Nửa ngày
                    </th>

                    <th style="white-space: wrap; min-width:8rem"
                        class="text-center">
                        Trọn ngày
                    </th>
                    <th style="white-space: wrap; min-width:8rem"
                        class="text-center">
                        Nửa ngày
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-AQMember>
                <tr [pSelectableRow]="AQMember">
                    <!-- <td style="text-align: center;">{{AQMember.nickName}}</td> -->
                    <td style="text-align: center;">{{AQMember.fullName}}</td>
                    <td style="text-align: center; max-width: fit-content;">
                        {{AQMember.employeeType === 1 ? 'Chính thức' : AQMember.employeeType === 2 ? 'Thử việc' : 'Thực
                        tập sinh'}}
                    </td>
                    <td style="text-align: center;">{{AQMember.total_IndividualDayOff}}</td>
                    <td style="text-align: center;">{{AQMember.total_IndividualDayOff_full}}</td>
                    <td style="text-align: center;">{{AQMember.total_IndividualDayOff_half}}</td>
                    <td style="text-align: center;">{{AQMember.total_WorkingOnline}}</td>
                    <td style="text-align: center;">{{AQMember.total_WorkingOnline_full}}</td>
                    <td style="text-align: center;">{{AQMember.total_WorkingOnline_half}}</td>
                    <td style="text-align: center;">{{AQMember.total_CommissionDay_full}}</td>
                    <td style="text-align: center;">{{AQMember.total_CommissionDay_half}}</td>
                    <td style="text-align: center;">{{AQMember.total_AQDayOff}}</td>
                    <td style="text-align: center;">{{AQMember.office_workingDay}}</td>
                    <td style="text-align: center;">{{AQMember.lunchPayment | currency: 'VND'}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr>
                    <td colspan="11" style="text-align: center;">Tổng cộng toàn bộ thành viên:</td>
                    <!-- <td style="text-align: center;">{{summary_lunch_report.sum_total_IndividualDayOff}}</td>
                    <td style="text-align: center;">{{summary_lunch_report.sum_total_IndividualDayOff_full}}</td>
                    <td style="text-align: center;">{{summary_lunch_report.sum_total_IndividualDayOff_half}}</td>
                    <td style="text-align: center;">{{summary_lunch_report.sum_total_WorkingOnline}}</td>
                    <td style="text-align: center;">{{summary_lunch_report.sum_total_WorkingOnline_full}}</td>
                    <td style="text-align: center;">{{summary_lunch_report.sum_total_WorkingOnline_half}}</td>
                    <td style="text-align: center;">{{summary_lunch_report.sum_total_CommissionDay_full}}</td>
                    <td style="text-align: center;">{{summary_lunch_report.sum_total_CommissionDay_half}}</td>
                    <td style="text-align: center;">{{summary_lunch_report.sum_total_AQDayOff}}</td> -->
                    <td style="text-align: center;">{{summary_lunch_report.sum_total_Office_workingDay}}</td>
                    <td style="text-align: center;">{{summary_lunch_report.sum_lunchPayment | currency: 'VND'}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <!-- end lunch report -->

</div>