<div class="block">

    <div class="card p-4">
        <!-- header -->
        <p-card header="header"
            class="mb-2"
            style="font-weight: bold; font-size: x-large; color: navy;">
            🍗Thống kê tính tiền ăn trưa theo tháng
        </p-card>
        <!-- data table -->
        <p-table #dt
            [value]="AQLunchPaymentReport"
            [rows]="5"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[5,10,25]"
            [paginator]="true"
            selectionMode="multiple"
            [(selection)]="selectedRecords"
            [exportHeader]="'customExportHeader'"
            [tableStyle]="{'min-width': '50rem'}"
            styleClass="p-datatable-gridlines p-datatable-sm"
            reorderableColumns="true"
            responsiveLayout="scroll">
            <ng-template
                pTemplate="caption">
                <div class="flex justify-content-between">
                    <div class="flex flex-row flex-wrap gap-3 mt-3 mb-2">
                        <div class="">
                            <button
                                pButton
                                label="Clear"
                                class="p-button-outlined"
                                icon="pi pi-filter-slash">
                            </button>
                        </div>
                        <span class="p-float-label">
                            <p-calendar
                                [(ngModel)]="selectedMonthYear"
                                view="month" dateFormat="mm/yy"
                                [readonlyInput]="true"
                                inputId="monthpicker"
                                [style]="{'width':'12rem'}" [inputStyle]="{'width':'12rem'}">
                            </p-calendar>
                            <label for="float-input">Chọn tháng</label>
                        </span>
                        <span class="">
                            <button
                                pButton pRipple
                                type="button"
                                icon="pi pi-search"
                                class="p-button-rounded p-button-info"
                                (click)="fetchFilteredLunchPaymentReport()">
                            </button>
                        </span>
                    </div>
                    <div class="mt-3 mb-2">
                        <button type="button" pButton pRipple icon="pi pi-file-excel"
                            (click)="exportExcel('full')"
                            class="p-button-success mr-2"
                            pTooltip="XLS" tooltipPosition="bottom">
                        </button>
                        <button type="button" pButton pRipple icon="pi pi-filter"
                            (click)="exportExcel('selection')"
                            class="p-button-info ml-auto"
                            pTooltip="Selection Only" tooltipPosition="bottom">
                        </button>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="white-space: nowrap; min-width:10rem"
                        class="text-center">
                        Nick name
                    </th>
                    <th style="white-space: nowrap; min-width:10rem"
                        class="text-center">
                        Tên đầy đủ
                    </th>
                    <th style="white-space: wrap; min-width:10rem"
                        class="text-center">
                        Tổng số ngày phép (trọn ngày)
                    </th>
                    <th style="white-space: wrap; min-width:10rem"
                        class="text-center">
                        Tổng số ngày online (trọn ngày)
                    </th>
                    <th style="white-space: wrap; min-width:10rem"
                        class="text-center">
                        Tổng số ngày công tác (trọn ngày)
                    </th>
                    <th style="white-space: wrap; min-width:10rem"
                        class="text-center">
                        Tổng số ngày nghỉ chung (nếu có)
                    </th>
                    <th style="white-space: wrap; min-width:10rem"
                        class="text-center">
                        Số ngày còn lại
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-AQMember>
                <tr [pSelectableRow]="AQMember">
                    <td style="text-align: center;">{{AQMember.nickName}}</td>
                    <td style="text-align: center;">{{AQMember.fullName}}</td>
                    <td style="text-align: center;">{{AQMember.total_IndividualDayOff}}</td>
                    <td style="text-align: center;">{{AQMember.total_WorkingOnline}}</td>
                    <td style="text-align: center;">{{AQMember.total_CommissionDay}}</td>
                    <td style="text-align: center;">{{AQMember.total_AQDayOff}}</td>
                    <td style="text-align: center;">{{AQMember.actual_workingDay}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr>
                    <td colspan="2" style="text-align: center;">Tổng cộng:</td>
                    <td style="text-align: center;">{{summary_lunch_report.total_IndividualDayOff}}</td>
                    <td style="text-align: center;">{{summary_lunch_report.total_WorkingOnline}}</td>
                    <td style="text-align: center;">{{summary_lunch_report.total_CommissionDay}}</td>
                    <td style="text-align: center;">{{summary_lunch_report.total_AQDayOff}}</td>
                    <td style="text-align: center;">{{summary_lunch_report.total_AQActual_workingDay}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <!-- end lunch report -->

</div>