<div class="block">

  <div class="flex flex-column gap-3">

    <div class="flex flex-column lg:flex-row gap-3">

      <!-- content thongtincanhan -->
      <div class="card p-4 col-12 lg:col-7 xl:col-7">
        <!-- <div class="col-12">Thông tin cá nhân</div> -->
        <div class="flex flex-row gap-3">

          <!-- content left - avatar -->
          <div class="">
            <img [src]="avatarURL ? avatarURL : 'https://www.w3schools.com/howto/img_avatar.png'" />
          </div>

          <!-- item 2 -->
          <div class="" style="height: 100%; width: 80%;">
            <div class="flex flex-column md:flex-row gap-2">

              <div class="flex flex-column">
                <div class="flex justify-content-left gap-3 mb-2">
                  <span>
                    <span style="font-weight: bold; font-size: x-large;">
                      {{user.fullName}}
                    </span>
                    ({{user.nickName}})
                  </span>
                </div>

                <div class="flex justify-content-left mb-1">
                  <span>
                    <span style="font-weight: bold;">✉️ Email:</span>
                    {{user.email}}
                  </span>
                </div>

                <div class="flex justify-content-left mb-1">
                  <span>
                    <span style="font-weight: bold;">📞 Số điện thoại:</span>
                    {{user.phone}}
                  </span>
                </div>

                <div class="flex justify-content-left mb-1">
                  <span>
                    <span style="font-weight: bold;">🎉 Sinh nhật:</span>
                    {{user.birthDate | date: 'dd/MM/yyyy'}}
                  </span>
                </div>

                <div class="flex justify-content-left mb-1">
                  <span>
                    <span style="font-weight: bold;">✨ Ngày bắt đầu làm việc:</span>
                    {{user.startDate | date: 'dd/MM/yyyy'}}
                  </span>
                </div>

                <div class="flex justify-content-left mb-1">
                  <span>
                    <span style="font-weight: bold;">💻 TFS Account:</span>
                    {{user.tfsName}}
                  </span>
                </div>

                <div class="flex justify-content-left flex-wrap gap-2 mt-2">
                  <span>
                    <span class="" [class]="'role-' + user.role">{{getRoleName(user.role)}}</span>
                  </span>
                  <span>
                    <span *ngIf="user.isLeader" [class]="'leader-label'">AQ Leader</span>
                  </span>
                </div>

              </div>

              <!-- <div class="flex flex-column">
                content right
              </div> -->

            </div>
          </div>


        </div>

        <!-- <div class="mt-4" style="width: 100%; height: 10%;">
          <div class="flex flex-column">
            content bottom
          </div>
        </div> -->

      </div>
      <!-- end content thongtincanhan -->

      <!-- <div class="card p-4 col-12 lg:col-5 xl:col-5">
        <div echarts [options]="c1_echartsOptions" [extentions]="c1_echartsExtentions" style="height: 250px;">
        </div>
      </div> -->

      <div class="card p-4 col-12 lg:col-5 xl:col-5">
        <div>

          <div class="flex flex-column">

            <div class="flex align-items-center justify-content-left gap-3">
              <span class="col-10">Số ngày làm việc trong tuần:</span>
              <span>
                <span style="font-weight: bold;">
                  5
                </span>
              </span>
            </div>

            <div class="flex align-items-center justify-content-left gap-3">
              <span class="col-10">Tổng số giờ làm việc trong ngày :</span>
              <span>
                <span style="font-weight: bold;">
                  7
                </span>
              </span>
            </div>

            <div class="flex align-items-center justify-content-left gap-3">
              <span class="col-10">Tổng số ngày nghỉ (tháng hiện tại):</span>
              <span style="font-weight: bold;">
                {{userTotalDayOff_Month}}
              </span>
            </div>

            <!-- <div class="flex align-items-center justify-content-left gap-3">
              <span class="col-10">Tổng số ngày nghỉ (tháng):</span>
              <span>
                <p-badge [value]="3"></p-badge>
              </span>
            </div> -->



          </div>
        </div>
      </div>

    </div>

    <div class="flex flex-column lg:flex-row gap-3">

      <!-- <div class="card p-4 col-12 lg:col-4 xl:col-4">
        <div>

          <div class="flex flex-column">

            <div class="flex align-items-center justify-content-left gap-3">
              <span class="col-10">Số ngày làm việc trong tuần:</span>
              <span>
                <p-badge [value]="5"></p-badge>
              </span>
            </div>

            <div class="flex align-items-center justify-content-left gap-3">
              <span class="col-10">Tổng số giờ làm việc trong ngày :</span>
              <span>
                <p-badge [value]="7"></p-badge>
              </span>
            </div>

            <div class="flex align-items-center justify-content-left gap-3">
              <span class="col-10">Tổng số ngày nghỉ (tuần hiện tại):</span>
              <span>
                <p-badge [value]="5"></p-badge>
              </span>
            </div>

            <div class="flex align-items-center justify-content-left gap-3">
              <span class="col-10">Tổng số ngày nghỉ (tháng):</span>
              <span>
                <p-badge [value]="3"></p-badge>
              </span>
            </div>



          </div>
        </div>
      </div> -->

      <!-- <div class="card p-4 col-12 lg:col-8 xl:col-8">
        <div>C4</div>
        <div>
          <div echarts [options]="c2_echartsOptions" [extentions]="c2_echartsExtentions">
          </div>
        </div>
      </div> -->

    </div>
  </div>