<h4>Danh sách trường</h4>

<div class="school-selector-bar mb-3">
    <p-dropdown id="dropdownChonHoSo" [options]="danhSachHoSoTruong" [ngModel]="hoSoTruongDangXem"
        (ngModelChange)="onSelectHoSoTruong($event)" optionLabel="tenTruong" [showClear]="false" [filter]="true"
        filterBy="tenTruong" [disabled]="editState[selectedTab]">
        <ng-template pTemplate="emptyfilter">
            <div>
                <span>Không tìm thấy kết quả phù hợp</span>
            </div>
        </ng-template>
        <ng-template pTemplate="empty">
            <div>
                <span>Không có dữ liệu trường</span>
            </div>
        </ng-template>

    </p-dropdown>
</div>

<nav class="tab-navbar">
    <ul class="py-0">
        <li *ngFor="let tab of tabs" [class.active]="selectedTab === tab.id" (click)="selectTab(tab.id)">
            {{ tab.label }}
        </li>
    </ul>
</nav>
<div class="card card-profile">
    <div class="tab-content ">
        <div *ngIf="selectedTab === 1">
            <div *ngIf="isLoading" class="flex justify-content-center align-items-center" style="min-height: 300px;">
                <p-progressSpinner styleClass="my-custom-spinner" strokeWidth="3"></p-progressSpinner>
            </div>
            <div *ngIf="!isLoading">
                <div *ngIf="hoSoTruongDangXem; else noSchoolSelected">

                    <div class="p-fluid formgrid grid school-profile-details" *ngIf="!editState[1]">

                        <div class="field col-12 md:col-5">
                            <label for="view_tenTruong">Tên trường</label>
                            <input id="view_tenTruong" pInputText [ngModel]="hoSoTruongDangXem.tenTruong"
                                [disabled]="true" />
                        </div>
                        <div class="field col-12 md:col-2">
                            <label for="view_maTruong">Mã trường</label>
                            <input id="view_maTruong" pInputText [ngModel]="hoSoTruongDangXem.maTruong"
                                [disabled]="true" />
                        </div>
                        <div class="field col-12 md:col-2">
                            <label for="view_soNamDungEdusoft">Số năm dùng Edusoft</label>
                            <input id="view_soNamDungEdusoft" pInputText
                                [ngModel]="tinhSoNamSuDung(apiDataDangXem?.thoiDiemTrienKhai)" [disabled]="true" />
                        </div>
                        <div class="field col-12 md:col-3">
                            <label for="view_thoiDiemTrienKhai">Thời điểm triển khai</label>
                            <input id="view_thoiDiemTrienKhai" pInputText
                                [value]="apiDataDangXem.thoiDiemTrienKhai | date:'dd/MM/yyyy'" [disabled]="true" />
                        </div>

                        <div class="field col-12 md:col-9">
                            <label for="view_diaChiTruong">Địa chỉ trường</label>
                            <textarea id="view_diaChiTruong" pInputTextarea rows="1"
                                [ngModel]="hoSoTruongDangXem.diaChiTruong" [disabled]="!editState[1]"></textarea>
                        </div>

                        <div class="field col-12 md:col-3">
                            <label for="view_ngayHetHanNangCap">Ngày hết hạn nâng cấp</label>
                            <input id="view_ngayHetHanNangCap" pInputText
                                [value]="apiDataDangXem.ngayHetHan | date:'dd/MM/yyyy'" [disabled]="true" />
                        </div>


                        <div class="field col-12 md:col-4">
                            <label for="view_ht_hoTen">Họ tên Hiệu trưởng</label>
                            <input id="view_ht_hoTen" pInputText [ngModel]="hoSoTruongDangXem.hieuTruong?.hoTen"
                                [disabled]="!editState[1]" />
                        </div>
                        <div class="field col-12 md:col-4">
                            <label for="view_ht_dienThoai">Số điện thoại</label>
                            <input id="view_ht_dienThoai" pInputText [ngModel]="hoSoTruongDangXem.hieuTruong?.dienThoai"
                                [disabled]="!editState[1]" />
                        </div>
                        <div class="field col-12 md:col-4">
                            <label for="view_ht_email">Email</label>
                            <input id="view_ht_email" pInputText [ngModel]="hoSoTruongDangXem.hieuTruong?.email"
                                [disabled]="!editState[1]" />
                        </div>

                        <div class="field col-12 md:col-4">
                            <label for="view_hp_hoTen">Họ tên Hiệu phó</label>
                            <input id="view_hp_hoTen" pInputText [ngModel]="hoSoTruongDangXem.hieuPho?.hoTen"
                                [disabled]="!editState[1]" />
                        </div>
                        <div class="field col-12 md:col-4">
                            <label for="view_hp_dienThoai">Số điện thoại</label>
                            <input id="view_hp_dienThoai" pInputText [ngModel]="hoSoTruongDangXem.hieuPho?.dienThoai"
                                [disabled]="!editState[1]" />
                        </div>
                        <div class="field col-12 md:col-4">
                            <label for="view_hp_email">Email</label>
                            <input id="view_hp_email" pInputText [ngModel]="hoSoTruongDangXem.hieuPho?.email"
                                [disabled]="!editState[1]" />
                        </div>

                        <div class="field col-12 md:col-4">
                            <label for="view_tpdt_hoTen">Họ tên trưởng phòng đào tạo</label>
                            <input id="view_tpdt_hoTen" pInputText
                                [ngModel]="hoSoTruongDangXem.truongPhongDaoTao?.hoTen" [disabled]="!editState[1]" />
                        </div>
                        <div class="field col-12 md:col-4">
                            <label for="view_tpdt_dienThoai">Số điện thoại</label>
                            <input id="view_tpdt_dienThoai" pInputText
                                [ngModel]="hoSoTruongDangXem.truongPhongDaoTao?.dienThoai" [disabled]="!editState[1]" />
                        </div>
                        <div class="field col-12 md:col-4">
                            <label for="view_tpdt_email">Email</label>
                            <input id="view_tpdt_email" pInputText
                                [ngModel]="hoSoTruongDangXem.truongPhongDaoTao?.email" [disabled]="!editState[1]" />
                        </div>

                        <div class="field col-12 md:col-4">
                            <label for="view_tpkt_hoTen">Họ tên trưởng phòng khảo thí</label>
                            <input id="view_tpkt_hoTen" pInputText
                                [ngModel]="hoSoTruongDangXem.truongPhongKhaoThi?.hoTen" [disabled]="!editState[1]" />
                        </div>
                        <div class="field col-12 md:col-4">
                            <label for="view_tpkt_dienThoai">Số điện thoại</label>
                            <input id="view_tpkt_dienThoai" pInputText
                                [ngModel]="hoSoTruongDangXem.truongPhongKhaoThi?.dienThoai"
                                [disabled]="!editState[1]" />
                        </div>
                        <div class="field col-12 md:col-4">
                            <label for="view_tpkt_email">Email</label>
                            <input id="view_tpkt_email" pInputText
                                [ngModel]="hoSoTruongDangXem.truongPhongKhaoThi?.email" [disabled]="!editState[1]" />
                        </div>

                        <div class="field col-12 md:col-4">
                            <label for="view_tptv_hoTen">Họ tên trưởng phòng tài vụ</label>
                            <input id="view_tptv_hoTen" pInputText [ngModel]="hoSoTruongDangXem.truongPhongTaiVu?.hoTen"
                                [disabled]="!editState[1]" />
                        </div>
                        <div class="field col-12 md:col-4">
                            <label for="view_tptv_dienThoai">Số điện thoại</label>
                            <input id="view_tptv_dienThoai" pInputText
                                [ngModel]="hoSoTruongDangXem.truongPhongTaiVu?.dienThoai" [disabled]="!editState[1]" />
                        </div>
                        <div class="field col-12 md:col-4">
                            <label for="view_tptv_email">Email</label>
                            <input id="view_tptv_email" pInputText [ngModel]="hoSoTruongDangXem.truongPhongTaiVu?.email"
                                [disabled]="!editState[1]" />
                        </div>

                        <div class="field col-12 md:col-4">
                            <label for="view_ad_hoTen">Họ tên admin</label>
                            <input id="view_ad_hoTen" pInputText [ngModel]="hoSoTruongDangXem.admin?.hoTen"
                                [disabled]="!editState[1]" />
                        </div>
                        <div class="field col-12 md:col-4">
                            <label for="view_ad_dienThoai">Số điện thoại</label>
                            <input id="view_ad_dienThoai" pInputText [ngModel]="hoSoTruongDangXem.admin?.dienThoai"
                                [disabled]="!editState[1]" />
                        </div>
                        <div class="field col-12 md:col-4">
                            <label for="view_ad_email">Email</label>
                            <input id="view_ad_email" pInputText [ngModel]="hoSoTruongDangXem.admin?.email"
                                [disabled]="!editState[1]" />
                        </div>
                        <div class="field col-12">
                            <label for="view_note_sale">Phòng kinh doanh lưu ý/ghi chú đặc thù về trường này</label>
                            <textarea id="view_note_sale" pInputTextarea rows="10"
                                [ngModel]="hoSoTruongDangXem.ghiChuKinhDoanh" [disabled]="!editState[1]"></textarea>
                        </div>
                        <div class="field col-12">
                            <label for="view_note_dev">Phòng kỹ thuật lưu ý/ghi chú về trường này</label>
                            <textarea id="view_note_dev" pInputTextarea rows="10"
                                [ngModel]="hoSoTruongDangXem.ghiChuKyThuat" [disabled]="!editState[1]"></textarea>
                        </div>
                        <div class="field col-12">
                            <label for="view_note_sup">Phòng chăm sóc KH lưu ý/ghi chú về trường này</label>
                            <textarea id="view_note_sup" pInputTextarea rows="10"
                                [ngModel]="hoSoTruongDangXem.ghiChuChamSoc" [disabled]="!editState[1]"></textarea>
                        </div>
                    </div>
                    <!-- ============ -->
                    <div class="p-fluid formgrid grid school-profile-details"
                        *ngIf="editState[1] && hoSoTruongDangEdit">

                        <div class="field col-12 md:col-5">
                            <label for="edit_tenTruong">Tên trường</label>
                            <input id="edit_tenTruong" pInputText [ngModel]="hoSoTruongDangEdit.tenTruong"
                                [disabled]="true" />
                        </div>
                        <div class="field col-12 md:col-2">
                            <label for="edit_maTruong">Mã trường</label>
                            <input id="edit_maTruong" pInputText [ngModel]="hoSoTruongDangEdit.maTruong"
                                [disabled]="true" />
                        </div>
                        <div class="field col-12 md:col-2">
                            <label for="edit_soNamDungEdusoft">Số năm dùng Edusoft</label>
                            <input id="edit_soNamDungEdusoft" pInputText
                                [ngModel]="tinhSoNamSuDung(apiDataDangXem?.thoiDiemTrienKhai)" pKeyFilter="int"
                                [disabled]="true" />
                        </div>
                        <div class="field col-12 md:col-3">
                            <label for="edit_thoiDiemTrienKhai">Thời điểm triển khai</label>
                            <!-- <p-calendar id="edit_thoiDiemTrienKhai" [showIcon]="true" dateFormat="dd/mm/yy"
                            [(ngModel)]="hoSoTruongDangEdit.thoiDiemTrienKhai" [panelStyleClass]="'my-custom-calendar'"
                            [appendTo]="'body'" [disabled]="true"></p-calendar> -->
                            <input id="edit_thoiDiemTrienKhai" pInputText
                                [value]="apiDataDangXem.thoiDiemTrienKhai | date:'dd/MM/yyyy'" [disabled]="true" />
                        </div>

                        <div class="field col-12 md:col-9">
                            <label for="edit_diaChiTruong">Địa chỉ trường</label>
                            <textarea id="edit_diaChiTruong" pInputTextarea rows="1"
                                [(ngModel)]="hoSoTruongDangEdit.diaChiTruong"></textarea>
                        </div>

                        <div class="field col-12 md:col-3">
                            <label for="edit_ngayHetHanNangCap">Ngày hết hạn nâng cấp</label>
                            <!-- <p-calendar id="edit_ngayHetHanNangCap" [showIcon]="false" dateFormat="dd/mm/yy"
                            [ngModel]="hoSoTruongDangEdit.ngayHetHanNangCap" [panelStyleClass]="'my-custom-calendar'"
                            [appendTo]="'body'" [disabled]="true"></p-calendar> -->
                            <input id="edit_ngayHetHanNangCap" pInputText
                                [value]="apiDataDangXem.ngayHetHan | date:'dd/MM/yyyy'" [disabled]="true" />
                        </div>

                        <div class="field col-12 md:col-4">
                            <label for="edit_ht_hoTen">Họ tên Hiệu trưởng</label>
                            <input id="edit_ht_hoTen" pInputText [(ngModel)]="hoSoTruongDangEdit.hieuTruong.hoTen" />
                        </div>
                        <div class="field col-12 md:col-4">
                            <label for="edit_ht_dienThoai">Số điện thoại</label>
                            <input id="edit_ht_dienThoai" pInputText
                                [(ngModel)]="hoSoTruongDangEdit.hieuTruong.dienThoai" />
                        </div>
                        <div class="field col-12 md:col-4">
                            <label for="edit_ht_email">Email</label>
                            <input id="edit_ht_email" pInputText [(ngModel)]="hoSoTruongDangEdit.hieuTruong.email" />
                        </div>

                        <div class="field col-12 md:col-4">
                            <label for="edit_hp_hoTen">Họ tên Hiệu phó</label>
                            <input id="edit_hp_hoTen" pInputText [(ngModel)]="hoSoTruongDangEdit.hieuPho.hoTen" />
                        </div>
                        <div class="field col-12 md:col-4">
                            <label for="edit_hp_dienThoai">Số điện thoại</label>
                            <input id="edit_hp_dienThoai" pInputText
                                [(ngModel)]="hoSoTruongDangEdit.hieuPho.dienThoai" />
                        </div>
                        <div class="field col-12 md:col-4">
                            <label for="edit_hp_email">Email</label>
                            <input id="edit_hp_email" pInputText [(ngModel)]="hoSoTruongDangEdit.hieuPho.email" />
                        </div>

                        <div class="field col-12 md:col-4">
                            <label for="edit_tpdt_hoTen">Họ tên trưởng phòng đào tạo</label>
                            <input id="edit_tpdt_hoTen" pInputText
                                [(ngModel)]="hoSoTruongDangEdit.truongPhongDaoTao.hoTen" />
                        </div>
                        <div class="field col-12 md:col-4">
                            <label for="edit_tpdt_dienThoai">Số điện thoại</label>
                            <input id="edit_tpdt_dienThoai" pInputText
                                [(ngModel)]="hoSoTruongDangEdit.truongPhongDaoTao.dienThoai" />
                        </div>
                        <div class="field col-12 md:col-4">
                            <label for="edit_tpdt_email">Email</label>
                            <input id="edit_tpdt_email" pInputText
                                [(ngModel)]="hoSoTruongDangEdit.truongPhongDaoTao.email" />
                        </div>

                        <div class="field col-12 md:col-4">
                            <label for="edit_tpkt_hoTen">Họ tên trưởng phòng khảo thí</label>
                            <input id="edit_tpkt_hoTen" pInputText
                                [(ngModel)]="hoSoTruongDangEdit.truongPhongKhaoThi.hoTen" />
                        </div>
                        <div class="field col-12 md:col-4">
                            <label for="edit_tpkt_dienThoai">Số điện thoại</label>
                            <input id="edit_tpkt_dienThoai" pInputText
                                [(ngModel)]="hoSoTruongDangEdit.truongPhongKhaoThi.dienThoai" />
                        </div>
                        <div class="field col-12 md:col-4">
                            <label for="edit_tpkt_email">Email</label>
                            <input id="edit_tpkt_email" pInputText
                                [(ngModel)]="hoSoTruongDangEdit.truongPhongKhaoThi.email" />
                        </div>

                        <div class="field col-12 md:col-4">
                            <label for="edit_tptv_hoTen">Họ tên trưởng phòng tài vụ</label>
                            <input id="edit_tptv_hoTen" pInputText
                                [(ngModel)]="hoSoTruongDangEdit.truongPhongTaiVu.hoTen" />
                        </div>
                        <div class="field col-12 md:col-4">
                            <label for="edit_tptv_dienThoai">Số điện thoại</label>
                            <input id="edit_tptv_dienThoai" pInputText
                                [(ngModel)]="hoSoTruongDangEdit.truongPhongTaiVu.dienThoai" />
                        </div>
                        <div class="field col-12 md:col-4">
                            <label for="edit_tptv_email">Email</label>
                            <input id="edit_tptv_email" pInputText
                                [(ngModel)]="hoSoTruongDangEdit.truongPhongTaiVu.email" />
                        </div>

                        <div class="field col-12 md:col-4">
                            <label for="edit_ad_hoTen">Họ tên admin</label>
                            <input id="edit_ad_hoTen" pInputText [(ngModel)]="hoSoTruongDangEdit.admin.hoTen" />
                        </div>
                        <div class="field col-12 md:col-4">
                            <label for="edit_ad_dienThoai">Số điện thoại</label>
                            <input id="edit_ad_dienThoai" pInputText [(ngModel)]="hoSoTruongDangEdit.admin.dienThoai" />
                        </div>
                        <div class="field col-12 md:col-4">
                            <label for="edit_ad_email">Email</label>
                            <input id="edit_ad_email" pInputText [(ngModel)]="hoSoTruongDangEdit.admin.email" />
                        </div>
                        <div class="field col-12">
                            <label for="edit_note_sale">Phòng kinh doanh lưu ý/ghi chú đặc thù về trường này</label>
                            <textarea id="edit_note_sale" pInputTextarea rows="10"
                                [(ngModel)]="hoSoTruongDangEdit.ghiChuKinhDoanh"></textarea>
                        </div>
                        <div class="field col-12">
                            <label for="edit_note_dev">Phòng kỹ thuật lưu ý/ghi chú về trường này</label>
                            <textarea id="edit_note_dev" pInputTextarea rows="10"
                                [(ngModel)]="hoSoTruongDangEdit.ghiChuKyThuat"></textarea>
                        </div>
                        <div class="field col-12">
                            <label for="edit_note_sup">Phòng chăm sóc KH lưu ý/ghi chú về trường này</label>
                            <textarea id="edit_note_sup" pInputTextarea rows="10"
                                [(ngModel)]="hoSoTruongDangEdit.ghiChuChamSoc"></textarea>
                        </div>
                    </div>

                    <div class="p-fluid formgrid grid">
                        <div class="field col-12 md:col-8">
                        </div>
                        <div class="field col-12 md:col-4 tab-actions-footer">

                            <p-button *ngIf="editState[1]" label="Hủy" icon="pi pi-times" (click)="cancelEditMode()"
                                styleClass="p-button-outlined p-button-danger">
                            </p-button>

                            <p-button *ngIf="!editState[1]" label="Chỉnh sửa" icon="pi pi-pencil"
                                (click)="toggleEditMode()">
                            </p-button>

                            <p-button styleClass="p-button-success" *ngIf="editState[1]" label="Lưu" icon="pi pi-save"
                                (click)="saveTabInfo()">
                            </p-button>
                        </div>
                    </div>
                </div>
            </div>

            <ng-template #noSchoolSelected>
                <div class="text-center p-4 mt-3">
                    <i class="pi pi-info-circle" style="font-size: 2rem; color: var(--text-color-secondary);"></i>
                    <p class="mt-2">Vui lòng chọn một hồ sơ trường từ dropdown ở trên để xem thông tin.</p>
                </div>
            </ng-template>
        </div>

        <div *ngIf="selectedTab === 2">
            <div *ngIf="isLoading" class="flex justify-content-center align-items-center" style="min-height: 300px;">
                <p-progressSpinner styleClass="my-custom-spinner" strokeWidth="3"></p-progressSpinner>
            </div>

            <div *ngIf="!isLoading" class="card card-addin">
                <div class="flex justify-content-between align-items-center mb-3">
                    <span class="p-input-icon-left w-full md:w-30rem">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" [(ngModel)]="searchText" (input)="filterTable()"
                            placeholder="Tìm kiếm Addin..." class="w-full" />
                    </span>
                </div>

                <p-table [value]="filteredList" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5, 10, 20]"
                    sortMode="single" [loading]="isLoading"
                    [tableStyle]="{'table-layout': 'fixed', 'min-width': '52rem'}">

                    <ng-template pTemplate="header">
                        <tr class="header-title">
                            <th style="width: 2rem"></th>
                            <th style="width: 3rem">STT</th>
                            <th pSortableColumn="maAddin" style="width: 10rem;">Mã Addin</th>
                            <th pSortableColumn="tenAddin" style="width: 12rem;">Tên Addin</th>
                            <th pSortableColumn="isDaMua" class="text-center" style="width: 5rem;">Đã mua</th>
                            <th pSortableColumn="thongTinDaMua.ngayMua" style="width: 8rem;">Ngày cấp</th>
                            <th pSortableColumn="thongTinDaMua.userCapAddin" style="width: 8rem;">Người cấp</th>
                            <th pSortableColumn="thongTinDaMua.ghiChuCapAddin" style="width: 10rem;">Ghi chú mua</th>
                            <th pSortableColumn="thongTinDaMua.danhSachMaDVPC" style="width: 5rem;">Mã ĐVPC</th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-group let-ri="rowIndex">
                        <tr class="group-header" (click)="onAddinRowClick(group)">
                            <td class="text-center">
                                <i *ngIf="group.children && group.children.length > 0" class="pi" [ngClass]="{
                            'pi-chevron-down': expandedGroups[group.idAddin],
                            'pi-chevron-right': !expandedGroups[group.idAddin]
                        }" (click)="toggleGroup(group.idAddin); $event.stopPropagation()"></i>
                            </td>
                            <td>{{ ri + 1 }}</td>
                            <td class="p-cell-truncate" [title]="group.maAddin">{{ group.maAddin }}</td>
                            <td class="p-cell-truncate" [title]="group.tenAddin">
                                {{ group.tenAddin }}
                            </td>
                            <td class="text-center">
                                <p-checkbox [binary]="true" [ngModel]="group.isDaMua" class="custom-checkbox"
                                    [disabled]="true"></p-checkbox>
                            </td>
                            <td class="p-cell-truncate" [title]="group.thongTinDaMua?.ngayMua | date: 'dd/MM/yyyy'">
                                {{ group.thongTinDaMua?.ngayMua | date: 'dd/MM/yyyy' }}
                            </td>
                            <td class="p-cell-truncate" [title]="group.thongTinDaMua?.userCapAddin">
                                {{ group.thongTinDaMua?.userCapAddin }}
                            </td>
                            <td class="p-cell-truncate" [title]="group.thongTinDaMua?.ghiChuCapAddin">
                                {{ group.thongTinDaMua?.ghiChuCapAddin }}
                            </td>
                            <td class="p-cell-truncate" [title]="group.thongTinDaMua?.danhSachMaDVPC">
                                {{ group.thongTinDaMua?.danhSachMaDVPC }}
                            </td>
                        </tr>

                        <ng-container *ngIf="expandedGroups[group.idAddin]">
                            <tr *ngFor="let item of group.children; let i = index" class="child-row"
                                (click)="onAddinRowClick(item)">
                                <td></td>
                                <td>{{ ri + 1 }}.{{ i + 1 }}</td>
                                <td class="p-cell-truncate" [title]="item.maAddin">{{ item.maAddin }}</td>
                                <td class="p-cell-truncate" [title]="item.tenAddin">{{ item.tenAddin }}</td>
                                <td class="text-center">
                                    <p-checkbox [binary]="true" [ngModel]="item.isDaMua" class="custom-checkbox"
                                        [disabled]="true"></p-checkbox>
                                </td>
                                <td class="p-cell-truncate" [title]="item.thongTinDaMua?.ngayMua | date: 'dd/MM/yyyy'">
                                    {{ item.thongTinDaMua?.ngayMua | date: 'dd/MM/yyyy' }}
                                </td>
                                <td class="p-cell-truncate" [title]="item.thongTinDaMua?.userCapAddin">
                                    {{ item.thongTinDaMua?.userCapAddin }}
                                </td>
                                <td class="p-cell-truncate" [title]="item.thongTinDaMua?.ghiChuCapAddin">
                                    {{ item.thongTinDaMua?.ghiChuCapAddin }}
                                </td>
                                <td class="p-cell-truncate" [title]="item.thongTinDaMua?.danhSachMaDVPC">
                                    {{ item.thongTinDaMua?.danhSachMaDVPC }}
                                </td>
                            </tr>
                        </ng-container>
                    </ng-template>

                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="9" class="text-center">Không có dữ liệu Addin.</td>
                        </tr>
                    </ng-template>
                </p-table>

            </div>
        </div>

        <div *ngIf="selectedTab === 3">
            <div *ngIf="isLoading" class="flex justify-content-center align-items-center" style="min-height: 300px;">
                <p-progressSpinner styleClass="my-custom-spinner" strokeWidth="3"></p-progressSpinner>
            </div>
            <div *ngIf="!isLoading">
                <div *ngIf="hoSoTruongDangXem; else noSchoolSelected">
                    <div class="p-fluid formgrid grid school-profile-details">
                        <div class="field col-12">
                            <p-button label="Đi đến trang CST" icon="pi pi-external-link" (click)="navigateToOtherApp()"
                                [loading]="isSsoLoading"> </p-button>
                            <!-- <p-button label="Đi đến trang CST" icon="pi pi-external-link" [loading]="isSsoLoading"> -->
                            <!-- </p-button> -->
                        </div>
                    </div>
                </div>
            </div>

            <ng-template #noSchoolSelected>
                <div class="text-center p-4 mt-3">
                    <i class="pi pi-info-circle" style="font-size: 2rem; color: var(--text-color-secondary);"></i>
                    <p class="mt-2">Vui lòng chọn một hồ sơ trường từ dropdown ở trên để xem thông tin.</p>
                </div>
            </ng-template>
        </div>

        <div *ngIf="selectedTab === 4">
            <div *ngIf="isLoading" class="flex justify-content-center align-items-center" style="min-height: 300px;">
                <p-progressSpinner styleClass="my-custom-spinner" strokeWidth="3"></p-progressSpinner>
            </div>
            <div *ngIf="!isLoading">
                <div *ngIf="hoSoTruongDangXem; else noSchoolSelected">
                    <div class="xulydacthutruong mt-2">
                        <div class="p-fluid formgrid grid" *ngIf="!editState[4]">
                            <div class="field col-12">
                                <label for="view_xldt_sup_note">SUPPORT ghi chú/ lưu ý mô hình đặc thù trường</label>
                                <textarea id="view_xldt_sup_note" pInputTextarea rows="10"
                                    [ngModel]="hoSoTruongDangXem.luuYXuLyDacThu?.supportGhiChuMoHinh"
                                    [disabled]="true"></textarea>
                            </div>
                            <div class="field col-12">
                                <label for="view_xldt_sup_note_method">SUPPORT ghi chú/ lưy ý cách hỗ trợ trường</label>
                                <textarea id="view_xldt_sup_note_method" pInputTextarea rows="10"
                                    [ngModel]="hoSoTruongDangXem.luuYXuLyDacThu?.supportGhiChuCachHoTro"
                                    [disabled]="true"></textarea>
                            </div>
                            <div class="field col-12">
                                <label for="view_xldt_dev_note">DEV ghi chú/lưu ý xử lý kỹ thuật đặc thù trường</label>
                                <textarea id="view_xldt_dev_note" pInputTextarea rows="10"
                                    [ngModel]="hoSoTruongDangXem.luuYXuLyDacThu?.devGhiChu"
                                    [disabled]="true"></textarea>
                            </div>
                            <div class="field col-12">
                                <label for="view_xldt_sale_note">SALE lưu ý/ ghi chú</label>
                                <textarea id="view_xldt_sale_note" pInputTextarea rows="10"
                                    [ngModel]="hoSoTruongDangXem.luuYXuLyDacThu?.saleGhiChu"
                                    [disabled]="true"></textarea>
                            </div>
                        </div>

                        <div class="p-fluid formgrid grid" *ngIf="editState[4] && hoSoTruongDangEdit">
                            <div class="field col-12">
                                <label for="edit_xldt_sup_note">SUP ghi chú mô hình đặc thù trường</label>
                                <textarea id="edit_xldt_sup_note" pInputTextarea rows="10"
                                    [(ngModel)]="hoSoTruongDangEdit.luuYXuLyDacThu.supportGhiChuMoHinh"></textarea>
                            </div>
                            <div class="field col-12">
                                <label for="edit_xldt_sup_note_method">SUP ghi chú cách hỗ trợ trường</label>
                                <textarea id="edit_xldt_sup_note_method" pInputTextarea rows="10"
                                    [(ngModel)]="hoSoTruongDangEdit.luuYXuLyDacThu.supportGhiChuCachHoTro"></textarea>
                            </div>
                            <div class="field col-12">
                                <label for="edit_xldt_dev_note">DEV ghi chú xử lý kĩ thuật đặc thù trường</label>
                                <textarea id="edit_xldt_dev_note" pInputTextarea rows="10"
                                    [(ngModel)]="hoSoTruongDangEdit.luuYXuLyDacThu.devGhiChu"></textarea>
                            </div>
                            <div class="field col-12">
                                <label for="view_xldt_sale_note">SALE ghi chú</label>
                                <textarea id="view_xldt_sale_note" pInputTextarea rows="10"
                                    [(ngModel)]="hoSoTruongDangEdit.luuYXuLyDacThu.saleGhiChu"></textarea>
                            </div>
                        </div>

                        <div class="p-fluid formgrid grid">
                            <div class="field col-12 md:col-8">
                            </div>
                            <div class="field col-12 md:col-4 tab-actions-footer">
                                <p-button *ngIf="editState[4]" label="Lưu" icon="pi pi-save" (click)="saveTabInfo()"
                                    styleClass="p-button-success">
                                </p-button>

                                <p-button *ngIf="editState[4]" label="Hủy" icon="pi pi-times" (click)="cancelEditMode()"
                                    styleClass="p-button-outlined p-button-danger">
                                </p-button>

                                <p-button *ngIf="!editState[4]" label="Chỉnh sửa" icon="pi pi-pencil"
                                    (click)="toggleEditMode()">
                                </p-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <ng-template #noSchoolSelected>
                <div class="text-center p-4 mt-3">
                    <i class="pi pi-info-circle" style="font-size: 2rem; color: var(--text-color-secondary);"></i>
                    <p class="mt-2">Vui lòng chọn một hồ sơ trường từ dropdown ở trên để xem thông tin.</p>
                </div>
            </ng-template>
        </div>

        <div *ngIf="selectedTab === 5">
            <div *ngIf="isLoading" class="flex justify-content-center align-items-center" style="min-height: 300px;">
                <p-progressSpinner styleClass="my-custom-spinner" strokeWidth="3"></p-progressSpinner>
            </div>
            <div *ngIf="!isLoading">
                <div *ngIf="hoSoTruongDangXem; else noSchoolSelected">
                    <div class="server-info mt-2">
                        <div class="p-fluid formgrid grid" *ngIf="!editState[5]">
                            <div class="field col-12 md:col-6">
                                <label for="view_server_info_detail">Thông tin các con server</label>
                                <textarea id="view_server_info_detail" pInputTextarea rows="13"
                                    [ngModel]="hoSoTruongDangXem?.serverInfo?.thongTinChung"
                                    [disabled]="true"></textarea>
                            </div>

                            <div class="field col-12 md:col-6">
                                <label for="view_server_note">Ghi chú / Lưu ý về server</label>
                                <textarea id="view_server_note" pInputTextarea rows="13"
                                    [ngModel]="hoSoTruongDangXem?.serverInfo?.ghiChu" [disabled]="true"></textarea>
                            </div>

                            <div class="field col-12 md:col-12">
                                <label for="view_server_manager">Người quản lý server</label>
                                <input id="view_server_manager" pInputText
                                    [ngModel]="hoSoTruongDangXem?.serverInfo?.nguoiQuanLy" [disabled]="true" />
                            </div>
                        </div>

                        <div class="p-fluid formgrid grid" *ngIf="editState[5] && hoSoTruongDangEdit">
                            <div class="field col-12 md:col-6">
                                <label for="edit_server_info_detail">Thông tin các con server</label>
                                <textarea id="edit_server_info_detail" pInputTextarea rows="13"
                                    [(ngModel)]="hoSoTruongDangEdit.serverInfo.thongTinChung"></textarea>
                            </div>
                            <div class="field col-12 md:col-6">
                                <label for="edit_server_note">Ghi chú / Lưu ý về server</label>
                                <textarea id="edit_server_note" pInputTextarea rows="13"
                                    [(ngModel)]="hoSoTruongDangEdit.serverInfo.ghiChu"></textarea>
                            </div>
                            <div class="field col-12 md:col-12">
                                <label for="edit_server_manager">Người quản lý server</label>
                                <input id="edit_server_manager" pInputText
                                    [(ngModel)]="hoSoTruongDangEdit.serverInfo.nguoiQuanLy" />
                            </div>
                        </div>

                        <div class="p-fluid formgrid grid">
                            <div class="field col-12 md:col-8">
                            </div>
                            <div class="field col-12 md:col-4 tab-actions-footer">
                                <p-button *ngIf="editState[5]" label="Lưu" icon="pi pi-save" (click)="saveTabInfo()"
                                    styleClass="p-button-success">
                                </p-button>

                                <p-button *ngIf="editState[5]" label="Hủy" icon="pi pi-times" (click)="cancelEditMode()"
                                    styleClass="p-button-outlined p-button-danger">
                                </p-button>

                                <p-button *ngIf="!editState[5]" label="Chỉnh sửa" icon="pi pi-pencil"
                                    (click)="toggleEditMode()">
                                </p-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <ng-template #noSchoolSelected>
                <div class="text-center p-4 mt-3">
                    <i class="pi pi-info-circle" style="font-size: 2rem; color: var(--text-color-secondary);"></i>
                    <p class="mt-2">Vui lòng chọn một hồ sơ trường từ dropdown ở trên để xem thông tin.</p>
                </div>
            </ng-template>
        </div>
    </div>
</div>

<p-dialog header="Chi tiết Addin" [(visible)]="displayAddinDialog" [modal]="true" [style]="{ width: '80vw' }"
    [draggable]="false" [resizable]="false" (onHide)="onCloseAddinDialog()">
    <div *ngIf="selectedAddinForDetail" class="p-fluid grid formgrid">
        <!-- THÔNG TIN ADDIN -->
        <div class="col-12 mt-2 mb-3">
            <h5 class="note-addin">THÔNG TIN ADDIN</h5>
        </div>

        <div class="field col-12 md:col-6 lg:col-4">
            <label>Mã Addin</label>
            <input pInputText [disabled]="true" [ngModel]="selectedAddinForDetail.maAddin">
        </div>

        <div class="field col-12 md:col-6 lg:col-4">
            <label>Tên Addin</label>
            <input pInputText [disabled]="true" [ngModel]="selectedAddinForDetail.tenAddin">
        </div>

        <div class="field col-12 md:col-6 lg:col-4">
            <label>Trạng thái</label>
            <input pInputText [disabled]="true" [ngModel]="selectedAddinForDetail.isDaMua ? 'Đã mua' : 'Chưa mua'">
        </div>

        <div class="field col-12 md:col-6 lg:col-4">
            <label>Ngày cấp</label>
            <input pInputText [disabled]="true"
                [ngModel]="selectedAddinForDetail.thongTinDaMua?.ngayMua | date: 'dd/MM/yyyy'">
        </div>

        <div class="field col-12 md:col-6 lg:col-4">
            <label>Người cấp</label>
            <input pInputText [disabled]="true" [ngModel]="selectedAddinForDetail.thongTinDaMua?.userCapAddin">
        </div>

        <div class="field col-12 md:col-6 lg:col-4">
            <label>Mã ĐVPC</label>
            <input pInputText [disabled]="true" [ngModel]="selectedAddinForDetail.thongTinDaMua?.danhSachMaDVPC">
        </div>

        <div class="field col-12 md:col-6 lg:col-6">
            <label>Ghi chú Addin</label>
            <textarea pInputTextarea [rows]="5" [disabled]="true"
                [ngModel]="selectedAddinForDetail.ghiChuAddin"></textarea>
        </div>

        <div class="field col-12 md:col-6 lg:col-6">
            <label>Ghi chú Mua</label>
            <textarea pInputTextarea [rows]="5" [disabled]="true"
                [ngModel]="selectedAddinForDetail.thongTinDaMua?.ghiChuCapAddin"></textarea>
        </div>

        <!-- GHI CHÚ -->
        <div class="col-12 mt-5 mb-1">
            <h5 class="note-addin">GHI CHÚ</h5>
        </div>

        <div *ngIf="hoSoTruongDangXem; else noSchoolSelected" class="col-12">
            <div *ngIf="!editState[2]" class="p-fluid formgrid grid mt-2">
                <div class="field col-12">
                    <label>Sale ghi chú</label>
                    <textarea pInputTextarea rows="8" [disabled]="true"
                        [ngModel]="hoSoTruongDangXem?.danhSachAddin?.ghiChuSale"></textarea>
                </div>
                <div class="field col-12">
                    <label>Dev ghi chú</label>
                    <textarea pInputTextarea rows="8" [disabled]="true"
                        [ngModel]="hoSoTruongDangXem?.danhSachAddin?.ghiChuDev"></textarea>
                </div>
                <div class="field col-12">
                    <label>Support ghi chú</label>
                    <textarea pInputTextarea rows="8" [disabled]="true"
                        [ngModel]="hoSoTruongDangXem?.danhSachAddin?.ghiChuSupport"></textarea>
                </div>
            </div>

            <div *ngIf="editState[2]" class="p-fluid formgrid grid mt-2">
                <div class="field col-12">
                    <label>Sale ghi chú</label>
                    <textarea pInputTextarea rows="8"
                        [(ngModel)]="hoSoTruongDangEdit.danhSachAddin.ghiChuSale"></textarea>
                </div>
                <div class="field col-12">
                    <label>Dev ghi chú</label>
                    <textarea pInputTextarea rows="8"
                        [(ngModel)]="hoSoTruongDangEdit.danhSachAddin.ghiChuDev"></textarea>
                </div>
                <div class="field col-12">
                    <label>Support ghi chú</label>
                    <textarea pInputTextarea rows="8"
                        [(ngModel)]="hoSoTruongDangEdit.danhSachAddin.ghiChuSupport"></textarea>
                </div>
            </div>

            <div class="flex justify-content-end gap-2 mt-4">
                <p-button *ngIf="!editState[2]" label="Chỉnh sửa" icon="pi pi-pencil"
                    (click)="toggleEditMode()"></p-button>
                <p-button *ngIf="editState[2]" label="Lưu" icon="pi pi-save" (click)="saveTabInfo()"
                    styleClass="p-button-success"></p-button>
                <p-button label="Đóng" icon="pi pi-times" (click)="displayAddinDialog = false"
                    styleClass="p-button-outlined p-button-danger"></p-button>

            </div>
        </div>

        <ng-template #noSchoolSelected>
            <div class="text-center p-4 mt-3">
                <i class="pi pi-info-circle" style="font-size: 2rem; color: var(--text-color-secondary);"></i>
                <p class="mt-2">Vui lòng chọn hồ sơ trường để xem thông tin Addin.</p>
            </div>
        </ng-template>
    </div>
</p-dialog>