<div class="page mt-0 p-4 d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block"><i class="far fa-frown"></i></span>
                <span class="display-2 d-block" style="-webkit-text-stroke: thick;">404</span>
                <div class="mb-4 lead">Nội dung không tìm thấy hoặc không tồn tại</div>
                <div class="error-actions">
                    <a href="#/main/csCase" class="btn btn-outline-primary btn-lg">
                        <i class="fas fa-home"></i>
                        Quay về trang chủ</a>
                </div>
            </div>
        </div>
    </div>
</div>
