*:focus {
    box-shadow: none !important;
}

:host ::ng-deep .p-datepicker {
    transform: scale(0.8) translateY(100px);
    /* Adjust the scale to your desired value */
}

.css_box1 {
    border: 1px solid red;
}

.css_box2 {
    border: 1px solid blue;
}

.role-Developer {
    background    : #b3e5fc;
    color         : #23547b;
    border-radius : 2px;
    padding       : .25em .5rem;
    text-transform: uppercase;
    font-weight   : 700;
    font-size     : 14px;
    letter-spacing: .3px;
}

.role-Support {
    background    : #ffd8b2;
    color         : #805b36;
    border-radius : 2px;
    padding       : .25em .5rem;
    text-transform: uppercase;
    font-weight   : 700;
    font-size     : 14px;
    letter-spacing: .3px;
}

.role-Sale {
    background    : #8dbca1;
    color         : #1a5533;
    border-radius : 2px;
    padding       : .25em .5rem;
    text-transform: uppercase;
    font-weight   : 700;
    font-size     : 14px;
    letter-spacing: .3px;
}

.role-HR {
    background    : #f1e1d4;
    color         : #fe1155;
    border-radius : 2px;
    padding       : .25em .5rem;
    text-transform: uppercase;
    font-weight   : 700;
    font-size     : 14px;
    letter-spacing: .3px;
}

.role-BM {
    background    : #f5f5dc;
    color         : #0a3d62;
    border-radius : 2px;
    padding       : .25em .5rem;
    text-transform: uppercase;
    font-weight   : 700;
    font-size     : 14px;
    letter-spacing: .3px;
}

.member-active {
    color: green;
}

.member-inactive {
    color: red;
}

.image-container {
    position  : relative;
    display   : inline-block;
    text-align: center;
}

img {
    height       : 150px;
    width        : 150px;
    border       : 3px solid #000;
    border-radius: 50%;
    cursor       : pointer;
}

.css_box1 {
    border: 1px solid red;
}

.hover-button {
    transition: color 0.3s ease;
}

.hover-button:hover {
    opacity: 0.5;
}