*:focus {
    box-shadow: none !important;
}

::ng-deep {
    .p-selectbutton .p-button.p-highlight {
        background      : red;
        background-color: red;
    }

    .p-selectbutton .p-button.p-highlight:hover {
        background: green;
    }
}