// .sidebar {
//   background-color: #f8f9fa;
//   min-height      : 100vh;
//   box-shadow      : 2px 0 5px rgba(0, 0, 0, 0.1);
// }

// .sidebar .nav-link {
//   color     : #333;
//   transition: all 0.3s;
// }

// .sidebar .nav-link:hover {
//   background-color: #e9ecef;
// }

// .main-content {
//   padding: 2rem;
// }

// .card {
//   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
//   transition: all 0.3s;
// }

// .card:hover {
//   transform: translateY(-5px);
// }

// .list-group-item {
//   border-left: 4px solid transparent;
// }

// .list-group-item:hover {
//   border-left-color: #007bff;
// }

// .table th {
//   background-color: #f8f9fa;
// }

// .main-content {
//   padding: 1rem;
// }

// .nav-link {
//   display    : flex;
//   align-items: center;
// }

// .nav-link i {
//   margin-right: 0.5rem;
// }

.box1 {
  border: 1px solid red;
}

.box2 {
  border: 1px solid green;
}

/* app.component.css */
:host ::ng-deep .p-sidebar {
  width: 250px;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
}

.sidebar-menu a {
  margin-bottom: 0.5rem;
  text-align: left;
}

.sidebar-menu .p-button-text {
  justify-content: flex-start;
}

.sidebar-menu .p-button-text .pi {
  margin-right: 0.5rem;
}

.active-link {
  background-color: #e9ecef;
}

.main-content {
  margin-left: 1rem;
  margin-top: 1rem;
}
