label {
  margin: 0px;
}

.border {
  border: 0.5px solid #777;
  border-radius: 5px
}

:host ::ng-deep .ck-editor__editable_inline {
  min-height: 100px;
  background: white;
}

::ng-deep .ck-content .image img {
  border-style: none;
  display: flex;
  margin: 0;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
}

// ::ng-deep img {
//   border-style: none;
//   display: flex;
//   margin: 0;
//   min-width: 100%;
//   max-width: 100%;
//   height: 100%;
// }