<div class="block">

    <div class="card p-4">
        <p-toolbar styleClass="mb-4 p-3">
            <p-card *ngIf="checkIsLeader()" header="header" style="font-weight: bold; font-size: x-large; color: navy;">
                Quản lý ngày công tác
            </p-card>
            <p-card *ngIf="!checkIsLeader()" header="header"
                style="font-weight: bold; font-size: x-large; color: navy;">
                Thông tin ngày công tác
            </p-card>
            <ng-template *ngIf="checkIsLeader()" pTemplate="left">
                <button pButton pRipple label="Tạo ngày công tác" icon="pi pi-calendar-plus mb-1"
                    class="p-button-success py-2" (click)="openAddDialog()">
                </button>
            </ng-template>
        </p-toolbar>

        <p-toolbar styleClass="mb-4 p-3">
            <div class="flex flex-row flex-wrap gap-3">
                <div class="flex flex-row gap-1">
                    <div class="flex align-content-center flex-wrap"><strong>Từ ngày</strong></div>
                    <p-calendar
                        [(ngModel)]="filter_datefrom"
                        dateFormat="dd/mm/yy" dataType="string"
                        style="width: 135px;"></p-calendar>
                </div>
                <div class="flex flex-row gap-1">
                    <div class="flex align-content-center flex-wrap"><strong>Đến ngày</strong></div>
                    <p-calendar
                        [(ngModel)]="filter_dateto"
                        dateFormat="dd/mm/yy" dataType="string"
                        style="width: 135px;"></p-calendar>
                </div>
                <span class=""><button pButton pRipple type="button" icon="pi pi-search"
                        class="p-button-rounded p-button-info"
                        (click)="fetchDataFiltered()">
                    </button>
                </span>

            </div>

            <div class="flex justify-content-end">
                <button pButton label="Reset" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)">
                </button>
            </div>
        </p-toolbar>

        <p-table #dt1 [value]="CommissionDays" [rows]="10" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[5,10,15]" [paginator]="true"
            [globalFilterFields]="['dateFrom', 'dateTo', 'sumDay', 'comissionContent', 'note']"
            styleClass="p-datatable-gridlines p-datatable-sm"
            reorderableColumns="true"
            responsiveLayout="scroll"
            sortField="dateFrom" [sortOrder]="-1">
            <!-- dataKey="id" -->
            <ng-template pTemplate="header">
                <tr>
                    <th style="white-space: nowrap; min-width:120px;" class="text-center">
                        <i class="pi pi-ellipsis-h"></i>
                    </th>
                    <th style="white-space: nowrap; min-width:10rem" pSortableColumn="dateFrom">
                        Ngày bắt đầu
                        <p-sortIcon field="dateFrom"></p-sortIcon>
                        <!-- <p-columnFilter type="date" field="dateFrom" display="menu">
              </p-columnFilter> -->
                        <!-- <p-columnFilter type="date" field="dateFrom" display="menu" [showMatchModes]="true" [showOperator]="false"
                [showAddButton]="false">
              </p-columnFilter> -->
                    </th>
                    <th style="white-space: nowrap; min-width:10rem " pSortableColumn="dateTo">
                        Ngày kết thúc
                        <!-- <p-columnFilter type="date" field="dateTo" display="menu">
              </p-columnFilter> -->
                        <p-sortIcon field="dateTo"></p-sortIcon>
                    </th>
                    <th style="white-space: nowrap; min-width:10rem" pSortableColumn="sumDay">
                        Số lượng ngày
                        <p-sortIcon field="sumDay"></p-sortIcon>
                        <p-columnFilter type="numeric" field="sumDay" display="menu" class="mt-4"></p-columnFilter>
                    <th style="white-space: nowrap; min-width:25rem" class="text-center">
                        Nội dung công tác
                        <p-columnFilter type="text" field="comissionContent" display="menu"></p-columnFilter>
                    </th>
                    <th style="white-space: nowrap;" class="text-center">
                        Phương tiện
                        <p-columnFilter type="text" field="transportation" display="menu"></p-columnFilter>
                    </th>
                    <th style="white-space: nowrap;" class="text-center">
                        Danh sách nhân viên
                        <p-columnFilter type="text" field="memberList" display="menu"></p-columnFilter>
                    </th>
                    <th style="white-space: nowrap;" class="text-center">
                        Công tác phí
                        <p-columnFilter type="text" field="commissionExpenses" display="menu"></p-columnFilter>
                    </th>
                    <th style="white-space: nowrap;" class="text-center">
                        Chi phí công tác
                        <p-columnFilter type="number" field="commissionExpenses" display="menu"></p-columnFilter>
                    </th>
                    <th style="white-space: nowrap;" class="text-center">
                        Ghi chú
                        <p-columnFilter type="text" field="note" display="menu"></p-columnFilter>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-CommissionDay>
                <tr>
                    <td style="white-space: nowrap; text-align: center; width: 100px;">
                        <button pButton icon="pi pi-users" class="p-button-raised p-button-success p-button-text mr-2"
                            (click)="openMemberDialog(CommissionDay)">
                        </button>
                        <button *ngIf="checkIsLeader()" pButton pRipple icon="pi pi-pencil"
                            class="p-button-rounded p-button-warning p-button-text p-0"
                            (click)="openEditDialog(CommissionDay)">
                        </button>
                        <button *ngIf="checkIsLeader()" pButton pRipple icon="pi pi-trash"
                            class="p-button-rounded p-button-danger p-button-text p-0"
                            (click)="deleteCommissionDay($event, CommissionDay)">
                        </button>
                    </td>
                    <td style="white-space: nowrap; text-align: left; width: 12%;">
                        {{CommissionDay.dateFrom | date: 'dd/MM/yyyy'}}
                    </td>
                    <td style="white-space: nowrap; text-align: left; width: 12%;">
                        {{CommissionDay.dateTo | date: 'dd/MM/yyyy'}}
                    </td>
                    <td style="white-space: nowrap; text-align: center; width: 15%;">
                        {{CommissionDay.sumDay}}
                    </td>
                    <td style="white-space: nowrap; text-align: left;">
                        {{CommissionDay.comissionContent}}
                    </td>
                    <td style="white-space: nowrap; text-align: left;">
                        {{CommissionDay.transportation}}
                    </td>
                    <td style="white-space: nowrap; text-align: left;">
                        <div class="flex flex-row gap-2">
                            <span class="align-content-center">
                                {{getMemberList(CommissionDay.memberList)}}
                            </span>
                        </div>
                    </td>
                    <td style="white-space: nowrap; text-align: left;">
                        {{sumExpenses(CommissionDay.memberList) | currency: 'VND'}}
                    </td>
                    <td style="white-space: nowrap; text-align: left;">
                        {{CommissionDay.commissionExpenses | currency: 'VND'}}
                    </td>
                    <td style="white-space: nowrap; text-align: left;">
                        {{CommissionDay.note}}
                    </td>

                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7">Không có thông tin ngày công tác.</td>
                </tr>
            </ng-template>
        </p-table>

    </div>
</div>


<p-dialog header="Thông tin ngày công tác" [(visible)]="openDialog" [style]="{width: '100%', maxWidth: '800px'}"
    [comissionContentStyle]="{minHeight: '350px'}" [modal]="true" styleClass="p-fluid">

    <ng-template pTemplate="comissionContent">
        <div class="formgrid grid">

            <div class="field col-12 md:col-4">
                <label for="icon">Ngày bắt đầu</label>
                <p-calendar [(ngModel)]="CommissionDay.dateFrom" [showIcon]="true" inputId="icon" dateFormat="dd/mm/yy"
                    (ngModelChange)="sumDay()"></p-calendar>
            </div>

            <div class="field col-12 md:col-4">
                <label for="icon">Ngày kết thúc</label>
                <p-calendar [(ngModel)]="CommissionDay.dateTo" [showIcon]="true" inputId="icon" dateFormat="dd/mm/yy"
                    (ngModelChange)="sumDay()"></p-calendar>
            </div>


            <div class="field col-5 md:col-4">
                <label for="sumDay">Số lượng ngày công tác</label>
                <input type="number" pInputText id="sumDay" required [(ngModel)]="CommissionDay.sumDay" />
            </div>

            <div *ngIf="!isValidDateRange" class="field col-12" style="color: red;">
                *khoảng thời gian không hợp lệ
            </div>

            <div class="field col-12">
                <label for="reason">Nội dung công tác</label>
                <input type="text" pInputText id="reason" required [(ngModel)]="CommissionDay.comissionContent" />
            </div>

            <div class="field col-12">
                <label for="reason">Phương tiện</label>
                <input type="text" pInputText id="reason" required [(ngModel)]="CommissionDay.transportation" />
            </div>

            <div class="field col-12">
                <div>
                    <div class="">
                        Danh sách đi công tác
                    </div>
                    <div *ngFor="let member of CommissionDay.memberList; let i = index">
                        <div class="grid mt-2">
                            <div class="col-6">
                                <p-dropdown
                                    [options]="CommissionMemberList"
                                    [filter]="true"
                                    filterBy="fullName"
                                    [showClear]="true"
                                    placeholder="Chọn nhân sự"
                                    [(ngModel)]="member.id"
                                    optionLabel="fullName"
                                    optionValue="id">
                                </p-dropdown>
                            </div>
                            <div class="col-5">
                                <p-inputNumber [(ngModel)]="member.memberExpenses" mode="currency" currency="VND">
                                </p-inputNumber>
                            </div>
                            <div class="col-1">
                                <button pButton pRipple type="button" icon="pi pi-times"
                                    class="p-button-rounded p-button-danger p-button-text"
                                    (click)="removeMember(member)">
                                </button>
                            </div>
                        </div>
                    </div>

                    <div>
                        <button pButton pRipple type="button" label="Thêm nhân sự"
                            class="p-button-info p-button-text mt-2" (click)="addMember()">
                        </button>
                    </div>
                </div>
            </div>

            <div class="field col-12">

                <label for="reason">Chi phí công tác</label>
                <p-inputNumber [(ngModel)]="CommissionDay.commissionExpenses" mode="currency" currency="VND">
                </p-inputNumber>
            </div>

            <div class="field col-12">
                <label>Ghi chú chi phí công tác</label>
                <textarea [rows]="5" [cols]="30" pInputTextarea [autoResize]="true"
                    [(ngModel)]="CommissionDay.note"></textarea>
            </div>

        </div>
    </ng-template>


    <!-- edit/addnew CommissionDay -->
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Hủy" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button
            [disabled]="!isValidDateRange"
            pButton pRipple label="Lưu" icon="pi pi-check" class="p-button-text"
            (click)="editCommissionDayDialog ? updateCommissionDay() : addNewCommissionDay()"></button>
    </ng-template>
</p-dialog>

<p-dialog header="Thông tin thành viên ngày công tác" [(visible)]="isOpenMemberDialog"
    [style]="{width: '100%', maxWidth: '900px'}" [comissionContentStyle]="{minHeight: '350px'}" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="comissionContent">
        <p-scrollPanel [style]="{width: '100%', height: '700px'}">

            <div class="flex flex-column">
                <div class="flex align-items-center justify-content-left gap-3">
                    <span class="col-4">Từ ngày:</span>
                    <span class="">
                        {{CommissionDay.dateFrom | date: 'dd/MM/yyyy'}}
                    </span>
                </div>
                <div class="flex align-items-center justify-content-left gap-3">
                    <span class="col-4">Đến ngày:</span>
                    <span>
                        {{CommissionDay.dateTo | date: 'dd/MM/yyyy'}}
                    </span>
                </div>
                <div class="flex align-items-center justify-content-left gap-3">
                    <span class="col-4">Số lượng ngày:</span>
                    <span>
                        {{CommissionDay.sumDay}}
                    </span>
                </div>
                <div class="flex align-items-center justify-content-left gap-3">
                    <span class="col-4">Nội dung công tác:</span>
                    <span>
                        {{CommissionDay.comissionContent}}
                    </span>
                </div>
                <div class="flex align-items-center justify-content-left gap-3">
                    <span class="col-4">Phương tiện di chuyển:</span>
                    <span>
                        {{CommissionDay.transportation}}
                    </span>
                </div>
                <div class="flex align-items-center justify-content-left gap-3">
                    <span class="col-4">Chi phí công tác:</span>
                    <span>
                        {{CommissionDay.commissionExpenses | currency: 'VND'}}
                    </span>
                </div>
                <div class="flex align-items-center justify-content-left gap-3">
                    <span class="col-4">Ghi chú chi phí công tác:</span>
                    <span>
                        {{CommissionDay.note}}
                    </span>
                </div>
                <p-divider></p-divider>
            </div>

            <div class="flex flex-column">
                <span class="">Danh sách nhân sự:</span>
                <div class="flex justify-content-center mt-4">
                    <p-table [value]="CommissionDay.memberList" styleClass="p-datatable-sm p-datatable-gridlines"
                        [tableStyle]="{'width': '600px'}">
                        <!-- <ng-template pTemplate="caption">
                        Header
                    </ng-template> -->
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="white-space: nowrap; width:50%">Họ tên</th>
                                <th style="white-space: nowrap; width:50%">Công tác phí</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-member>
                            <tr>
                                <td>{{member.fullName}}</td>
                                <td>{{member.memberExpenses | currency: 'VND'}}</td>
                            </tr>
                        </ng-template>
                        <!-- <ng-template pTemplate="summary">
                        Footer
                    </ng-template> -->
                    </p-table>
                </div>
            </div>
        </p-scrollPanel>
    </ng-template>
</p-dialog>
<div class="card mt-4 flex-1 p-4">
    <div echarts [options]="chartOptions" [extentions]="chartExtension">
    </div>
</div>
<!-- delete member popup -->
<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>